*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 100%;
    background-color: whitesmoke;
}

section{
    background-color: white;
    margin: 1em auto;
    width: max-content;
    padding: 2em;
    border-radius: 1em;
    border: lightgray solid 1px;
}

section h2{
    font-family: 'Montserrat-SemiBold';
    text-align: center;
    padding: 1em;
}

h1{
    font-family: 'Montserrat-ExtraBold';
    text-align: center;
    padding: 1em;
}

a{
    text-decoration: none;
    color: dodgerblue;
    font-family: 'Montserrat-SemiBold';
}

/* HEADER =========================================== */

header{
    background-color: white;
    padding: 1em;
}

.logo{
    display: flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: auto;
    justify-content: center;
}

.logo img{
    width: 40px;
    height: 40px;
    padding: 0.2em;
    margin: auto 0;
}

.logo h1{
    font-family: 'Lobster', 'Lucida Sans', sans-serif;
    padding: 0;
    text-align: center;
}

/* PANEL ==================================================== */

.panel{
    padding: 1em;
}

.panel ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.panel li{
    background-color: white;
    border-radius: 1em;
    height: max-content;
    overflow: hidden;
}

.panel .panel_image{
    width: 100%;
    overflow: hidden;
}

.panel li img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    vertical-align: middle;
    transition: 0.3s;
}

.panel li:hover img{
    transform: scale(1.2);
    transition: 0.3s;
}

.panel li a{
    display: block;
    padding: 0 1em 1em 1em;
    text-align: center;
    font-family: 'Montserrat-SemiBold';
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.panel li:hover a{
    color: dodgerblue;
    transition: 0.3s;
}

/* FOOTER =================================================== */

footer{
    background-color: white;
    padding: 2em 1em 2em 1em;
    border-top: dodgerblue solid 2px;
}

footer p{
    font-family: 'Montserrat-Light', Arial, Helvetica, sans-serif;
}

footer *{
    text-align: center;
}