.admin_table{
    padding: 1em;
    border-collapse: collapse;
    margin: auto;
}

.admin_table th{
    padding: 1em;
    font-family: 'Montserrat-SemiBold';
}

.admin_table tr{
    border-bottom: black solid 1px;
}

.admin_table tr:nth-child(2n){
    background-color: #0000ff09;
}

.admin_table tr:last-child{
    border-bottom: none;
}

.admin_table td{
    padding: 1em;
    text-align: center;
}

.admin_table .actions{
    display: flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    gap: 1em;
}

.admin_table .actions .delete{
    padding: 0.4em 0.3em 0.4em 0.3em;
    margin: auto 0;
    background-color: #ff000099;
    color: white;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

.new{
    width: 100%;
    background-color: dodgerblue;
    padding: 1em;
    margin: 1em auto;
    border-radius: 4em;
    color: white;
    border: none;
    font-family: 'Montserrat-SemiBold';
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

.new:hover{
    opacity: 1;
    transition: 0.3s;
}

.vform{
    padding: 0 1em 1em;
    display: grid;
    grid-template-columns: 1fr;
}

.vform label{
    padding: 1em;
    text-align: center;
    font-family: 'Montserrat-SemiBold';
}

.vform :is(input, select){
    text-align: center;
    margin-bottom: 1em;
}

.vform textarea, .vform input[type="text"]{
    margin-bottom: 1em;
    padding: 1em;
    font-family: 'Montserrat-Medium';
}

.vform .tag{
    display: flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;
}

.vform .tag *{
    margin: auto 0;
}

.vform .tag:nth-child(2n){
    background-color: #0000ff09;
}

.vform img{
    height: 400px;
    display: block;
    margin-bottom: 1em;
}

.p_page{
    padding: 1em;
    margin: 1em;
    background-color: white;
    border-radius: 1em;
}

.hform{
    display: flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    gap: 1em;
}