header .icon {
    display: none;
    margin: auto 0;
}

#drawer{
    position: fixed;
    top: -100;
    width: 100%;
    z-index: 3;
    padding-bottom: 1em;
    background-color: dodgerblue;
    display: grid;
    grid-template-columns: 1fr;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

#drawer a{
    color: white;
    padding: 0.5em 0.5em 0.5em 2em;
    font-family: 'Montserrat-SemiBold';
}

#drawer .icon{
    text-align: right;
    padding: 1em 2em 1em 1em;
}

#drawer a:hover{
    background-color: rgba(255, 255, 255, 0.300);
}

#drawer p{
    font-family: 'Montserrat-SemiBold';
    padding: 0.5em 0.5em 0.5em 2em;
    color: white;
}

#drawer .nav_sub{
    padding: 0.5em 0.5em 0.5em 4em;
}

#drawer .social{
    margin: auto;
    padding-top: 1em;
}

#drawer .social a:hover{
    opacity: 1;
    background-color: transparent;
    transition: 0.3s;
}


@media screen and (max-width: 600px) {
    .top_menu, .social, footer .logo {display: none;}
    header .icon {
      float: right;
      display: block;
    }
    .grid_container{
        grid-template-columns: 1fr;
    }
    footer .bottom_menu{
        display: grid;
        grid-template: 1fr;
    }
    .responsive {position: relative;}
    #drawer.responsive {
        visibility: visible;
        opacity: 1;
        top: 0;
        transition: 0.3s;
    }
    #drawer .social{
        display: block;
    }

    /* ADMIN ======== */

    .panel ul{
        grid-template-columns: 1fr;
    }
}
