.schedules{
    background-color: white;
    margin: 1em 0 1em 1em;
    padding: 2em;
    border-radius: 1em;
}

.schedules h1{
    font-family: 'Montserrat-ExtraBold';
    padding: 0 1em 1em 1em;
    text-align: center;
}

.schedules h2{
    font-family: 'Montserrat-SemiBold';
    padding: 1em 1em 1em 0;
}

.timetable{
    border: black solid 2px;
    padding: 0.5em;
    border-radius: 0.5em;
    overflow: auto;
}

.timetable table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.timetable tr{
    border-bottom: black solid 1px;
    height: 150px;
    width: 100%;
}

.timetable tr:last-child{
    border-bottom: none;
}

.timetable th{
    border-right: black solid 1px;
    font-family: 'Montserrat-SemiBold';
}

.timetable td{
    padding: 0 1em 0 1em;
    border-width: 0;
    border-color: black;
    border-style: solid;
    text-align: center;
    font-family: 'Montserrat-Medium';
    width: max-content;
    height: max-content;
}

.timetable td>div{
    border-radius: 1em;
    padding: 1em;
}

.timetable td .actions{
    display: flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    gap: 1em;
    padding-top: 1em;
    justify-content: center;
}

.timetable .actions .delete{
    padding: 0.4em 0.3em 0.4em 0.3em;
    margin: auto 0;
    background-color: #ff000099;
    color: white;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}