/* GENERAL =================================================== */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    background-color: whitesmoke;
}

.section_title{
    padding: 1em;
    text-align: center;
}

h1{
    font-family: 'Montserrat-ExtraBold';
    text-align: center;
    padding: 1em;
}

a{
    text-decoration: none;
    color: dodgerblue;
}

section{
    background-color: white;
    margin: 1em auto;
    width: max-content;
    padding: 2em;
    border-radius: 1em;
    border: lightgray solid 1px;
}

section h1{
    padding: 0 1em 1em 1em;
    text-align: center;
}

section h3{
    padding: 1em;
    font-family: 'Montserrat-SemiBold';
}

.account_img_big{
    display: block;
    margin: auto;
    width: 100px;
    height: auto;
    border-radius: 2em;
}

.cycle_info{
    background-color: white;
    border: lightgray solid 1px;
    border-radius: 1em;
    margin: 1em;
    padding: 2em;

}

/* HEADER ==================================================== */

header {
    background-color: white;
    padding: 0 2em 0 2em;
    display: flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    border-bottom: dodgerblue solid 2px;
}


.logo{
    display: flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: auto;
}

.logo img{
    width: 40px;
    height: 40px;
    padding: 0.2em;
}

.logo h1{
    font-family: 'Lobster', 'Lucida Sans', sans-serif;
    padding: 0;
}

.social{
    display: flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    margin: auto;
}

.social img{
    width: 30px;
    height: 30px;
    padding: 0.2em;
} 

.social a{
    opacity: 0.6;
    transition: 0.3s;
}

.social a:hover{
    opacity: 1;
    transform: translateY(3px);
    transition: 0.3s;
}

.top_menu{
    overflow: auto;
    margin: auto;
    height: 100%;
    z-index: 2;
}

.top_menu ul{
    list-style: none;
    display: flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.top_menu a{
    font-family: 'Akaya Telivigala';
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: darkslategray;
}

.top_menu ul li a{
    transition: 0.3s;
}

.top_menu ul li:hover a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.top_menu ul li{
    padding: 2em 1.5em 2em 1.5em;
    transition: 0.3s;
}

.top_menu ul li:hover{
    background-color: dodgerblue;
    transition: 0.3s;
}

.top_menu ul li ul{
    display: none;
    opacity: 0;
    transition: 0.3s;
}

.top_menu ul li:hover ul{
    display: block;
    position: absolute;
    background-color: dodgerblue;
    opacity: 1;
    transition: 0.3s;
}

/* FOOTER =================================================== */

footer{
    overflow: auto;
    background-color: white;
    padding: 2em 1em 2em 1em;
    border-top: dodgerblue solid 2px;
}

footer p{
    font-family: 'Montserrat-Light', Arial, Helvetica, sans-serif;
}

footer *{
    text-align: center;
}

.bottom_menu{
    display: flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-evenly;
    gap: 2em;
    padding-bottom: 2em;
}

.bottom_menu ul{
    list-style: none;
}

.bottom_menu p{
    font-family: 'Montserrat-SemiBold';
    font-size: 120%;
    text-align: left;
    padding-bottom: 0.5em;
}

.bottom_menu li{
    text-align: left;
    font-family: 'Montserrat-Medium';
    padding: 0.5em 0 0.5em 0;
}

.bottom_menu .logo{
    margin: auto 0;
}